h1 {
    text-align: center;
}

.assignment {
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    background-color: #ccc;
}

.assignment .function-name {
    font-style: italic;
    font-weight: bold;
}

.assignment-app, .assignment-solution {
    background-color: #6f6;
    padding: 16px;
    position: relative;
    margin: 15px 0;
}

.data {
    width: 30%;
    display: inline-block;
}

.assignment-code {
    white-space: pre-wrap;
    display: none;
    font-family: monospace;
}

.code-comment {
    font-style: italic;
    color: #666;
}

.result {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 50%;
    margin-left: 5%;
    border-left: 1px solid #000;
    padding-left: 5%;
    height: 100%;
}

.result span {
    font-style: italic;
    font-weight: bold;
}

